.Login {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .LoginContainer {
    min-width: 500px;
    border: 1px solid #b8b8b8;
    border-radius: 0.25rem;
  }

  .tab-content {
    flex-grow: 1;

    .tab-pane {
      height: 100%;
    }

    form {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
      padding: 1.5rem 1.5rem 2rem;

      button[type='submit'] {
        margin: auto;
        padding: 0.75rem 0;
        width: 50%;
      }
    }
  }

  .nav-tabs .nav-item.show .nav-link,
  .nav-tabs .nav-link {
    font-weight: bold;
    font-size: 1.25rem;
    color: #585858;

    &.active {
      color: #088308;
    }
  }

  .nav-link {
    display: block;
    padding: 0.5rem 1rem;
    text-align: center;
  }

  .btn-primary {
    color: #fff;
    background-color: #0d6efd;
    border-color: #0d6efd;

    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
      border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

    &:hover {
      color: #fff;
      background-color: #0b5ed7;
      border-color: #0a58ca;
    }
  }
}
