.ProductBox {
  padding: 16px;
  padding-top: 4rem;

  .btn-add {
    background-color: #0059b1;
    color: #fff;

    &:hover {
      background-color: #003e7d;
    }
  }

  .More {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;

    button {
      border: 1px solid #003e7d;
      background-color: #fff;
      color: #003e7d;
      transition: ease 0.2s;

      &:hover {
        background-color: #003e7d;
        color: #fff;
      }
    }
  }
}
